@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf')  format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-Bold';
    src: url('../fonts/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Dosis-Bold.otf')  format('opentype'),
    url('../fonts/Dosis-Bold.woff') format('woff'),
    url('../fonts/Dosis-Bold.ttf')  format('truetype'),
    url('../fonts/Dosis-Bold.svg#Dosis-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ubuntu.woff') format('woff'),
    url('../fonts/Ubuntu.ttf')  format('truetype'),
    url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-ExtraLight';
    src: url('../fonts/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Dosis-ExtraLight.otf')  format('opentype'),
    url('../fonts/Dosis-ExtraLight.woff') format('woff'),
    url('../fonts/Dosis-ExtraLight.ttf')  format('truetype'),
    url('../fonts/Dosis-ExtraLight.svg#Dosis-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    list-style:none;
    margin:0;
    padding:0;
    text-decoration:none;
    font-family:"Open Sans", sans-serif;
}
.clear{
    clear:both;
}
.container{
    margin:10px auto;
    width:1300px;
}


.header-top__top-menu-links{
    height:40px;
    background:#709b1d;
}
.top-menu-links__link-list{
   margin:0 0 0 180px;
    background:#709b1d;
    height:35px;
    float:left;
    width:452px;
}
.link-list__link-home{
    width:76px;
}
.link-list__link-account{
    width:110px;
}
.link-list__link-shopping-cart{
    width:130px;
}

.link-list__link-item{
    float:left;
    text-align:center;
    line-height:35px;
    margin-right:10px;
}
.link-list__link-checkout{
    width:104px;
    margin-right:0;
}
.link-item__text{
    display:block;
    height:35px;
    color:#fff;
}
.link-list__link-item:hover .link-item__text{
    color:#709b1d;
    background:#fff;
    border-radius:0 0 5px 5px;
    box-shadow:0 2px #d9d9d9;
}

.top-menu-links__languages{
    margin-right:280px;
    float:right;
    height:35px;
}
.languages__item{
    float:left;
    background:#fff;
    color:#709b1d;
    line-height:35px;
}

.languages__language{
    margin-right:7px;
}
.language__img{
    position:relative;
    top:1px;
    width:14px;
}
.languages__link{
    color:#709b1d;
    display:block;
    margin:0 4px;
    height:35px;
 }
.language__icon{
    font-size:12px;
}
.link__sign{
    display:inline-block;
    width:12px;
    height:14px;
    line-height:13px;
    text-align:center;
    border-radius:3px;
    background:#709b1d;
    color: #fff;
}
.languages__item:hover .link__sign{
    background:#709b1d;
    color:#fff;
}
.header-top__logo{
    padding:20px 0;
    height:50px;
}
.logo__logo-text{
    font-size:25px;
    font-family: "Dosis-Bold",sans-serif;
    margin:0 0 0 180px;
    float:left;
}
.logo-text__logo-link{
    display:block;
 }
.logo-link__green{
    color:#709b1d;
    font-weight:bold;
    font-family: 'Dosis-Bold',sans-serif;
    display:inline-block;
    font-size:40px;
}
.logo-link__black{
    color:#000;
    font-family: 'Dosis-ExtraLight',sans-serif;
    font-size:40px;
    position:relative;
    left:-5px;
}
.logo__log-in{
    float:left;
    margin:10px 0 0 470px;
}
.log-in__log-in-text{
    color:#709b1d;
    float:left;
    margin:6px 19px 0 0;
}
.log-in-text__or{
    color:#000;
    font-weight:bold;
}
.log-in__link{
    display:block;
}
.log-in__item{
    width:30px;
    height:30px;
    background:#709b1d;
    float:left;
    margin:0 10px 0 0;
    border-radius:2px;
}
.log-in__icon{
    font-size:20px;
    position:relative;
    top:-19px;
    left:5px;
    color:#fff;
}

.log-in__circle{
    border:2px solid #fff;
    border-radius:50%;
    font-size:12px;
    width:14px;
    height:14px;
    padding:3px;
    line-height:14px;
    font-weight:bold;
    position:relative;
    left:18px;
    top:-15px;
    box-shadow:0 0 1px 1px #e2e2e2;
    background:#709b1d;
    color:#fff;
    display:inline-block;
}
.log-in__drop-down{
    width:290px;
    font-family: 'Ubuntu',sans-serif;
    border-top:5px solid #709b1d;
    position:relative;
    right:240px;
    top:-15px;
    display:none;
    background:#fff;
    z-index:1;
}
.log-in__commercial-arrow{
    border:7px solid transparent;
    border-bottom:7px solid #709b1d;
    height:0;
    width:0;
    position:relative;
    top:-15px;
    display:none;
}
.log-in__pencil:hover .log-in__commercial-arrow{
    display:block;
}
.log-in__pencil:hover .log-in__drop-down{
    display:block;
}
.drop-down__commercial1{
    border-bottom:3px dotted #ebebeb;
}
.drop-down__commercial-item{
    width:258px;
    margin-left:15px;
}
.commercial__img{
    float:left;
    margin:15px 15px 12px 0;
}
.commercial__img-down{
    margin:11px 15px 10px 0;
}
.commercial1__commercial1-text-box{
    margin:30px 0 0 0;
}
.commercial-text-box__text-left{
    margin:30px 0 0 0;
}
.commercial__commercial-text-box{
    float:left;
}
.commercial2__commercial2-text-box{
    margin:27px 0 0 0;
}
.commercial-text-box__product-price-2{
    margin-left:4px;
}
.commercial-text-box__text-left{
    float:left;
    margin:0 35px 0 0;
}
.fa-times-circle{
    position:relative;
    right:-10px;
}
.text-left__text-title{
    font-size:13px;
    color:#666666;
    margin:0 0 5px 0;
}
.text-left__size-quantity{
    color:#898989;
    font-size:12px;
}
.size__one-size{
    color:#709b1d;
}
.quantity__number{
    color:#709b1d;
}
.commercial-text-box__product-price{
    float:right;
}
.commercial-text-box__product-price{
    font-size:16px;
    color:#709b1d;
}
.drop-down__commercial-top-text{
    border-bottom:2px solid #e7e7e7;
    width:258px;
    height:25px;
    margin:0 auto;
    text-align:center;
    color:#a8a8a8;
    line-height:25px;
    font-size:12px;
}
.drop-down__delivry{
    margin:10px 0;
    height:39px;
    line-height:39px;
    font-size:13px;
    color:#898989;
    padding: 0 38px 0 18px;
    background:#f7f7f7;
}
.delivry__text{
    float:left;
}
.delivry__price{
    float:right;
    font-size:21px;
    color:#709b1d;
}
.delivry__text-green{
    color:#709b1d;
    font-size:21px;
}
.drop-down__drop-down-footer{
    height:51px;
    color:#fff;
}
.drop-down-footer__item{
    display:inline-block;
    background:#709b1d;
    height:31px;
    line-height:31px;
    margin-top:5px;
    float:left;
    border-radius:0 0 3px 3px;
    font-size:12px;
    text-align:center;
}
.drop-down-footer__view-cart{
    width:76px;
    margin:5px 15px;
}
.drop-down-footer__view-cart:hover .drop-down-footer__link_view_cart{
    box-shadow:2px 2px 10px 2px #848581;
    color:#709b1d;
    background:#fff;
}
.drop-down-footer__checkout:hover .drop-down-footer__link_checkout{
    box-shadow:2px 2px 10px 2px #848581;
    color:#8e8e8e;
    background:#fff;
}
.drop-down-footer__checkout{
    display:inline-block;
    background:#8e8e8e;
    height:31px;
    line-height:31px;
    width:174px;

}
.drop-down-footer__link{
    color:#fff;
    display:block;
    font-family: 'Ubuntu', sans-serif;
    font-size:12px;
}

.fa-angle-double-right{
    margin:0 0 0 21px;
}
.container-section__main{
    border:1px solid;
}
.section-main__products-menu{
    height:40px;
    background:#f3f3f3;
    line-height:40px;
}
.products-menu__products-item{
    float:left;
    margin:5px 13px 0 0;
    line-height:28px;
    text-align:center;
}
.products-item__link{
    color:#709b1d;
}
.products-phone{
    margin:5px 10px 0 160px;
    width:120px
}
.products-dasktop{
    width:84px;
}
.products-laptop{
    width:73px;
}
.products-accessories{
    width:110px;
}
.products-network{
    width:113px;
}
.products-software{
    width:94px;
}
.products__form-products{
    padding:0;
    height:37px;
    margin-top:0px;
}
.fa-search{
    position:relative;
    left:-32px;
    top:-2px;
    color:#fff;
    font-size:20px;
}
.form-products__submit{
    width:29px;
    height:29px;
    background:#709b1d;
    color:#fff;
    position:relative;
    top:5px;
    left:-4px;
    border:0;
    border-radius:0 3px 3px 0;
    padding:0;
}
.form-products__searchbox{
    height:29px;
    border:3px;
    position:relative;
    top:-5px;
    padding-left:12px;
    width:150px;
}
.products-form{
    z-index:0;
}
.products-item__link{
    display:block;
    height:28px;
    background:#fff;
    border-radius:5px;
}
.products-item__link:hover{
    box-shadow:0 2px 0  #58800b;
    background:#709b1d;
    color:#fff;
}
.section-main__container-section-main{
    background-image:url(../img/backgr.png);
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom:1px solid #e8e8e8;
}
.img-list__img-list-item{
    float:left;
    position:relative;
}
.img-list__arrow-left{
    margin:206px 0 0 7px;
}
.img-list__handy{
    margin: 0 0 0 185px;
}
.img-list__born-for{
    width:397px;
    left:-145px;
    top:337px;
}
.img-list__link{
    color:#fff;
    font-size:22px;
    display:block;
    height:40px;
    line-height:40px;
    word-spacing:10px;
    letter-spacing:2px;
    text-align:center;
   background:rgba(129,180,91, 0.7);
}
.img-list__third-list-item{
    margin:174px 0 0 0;
}
.img-list__logo{
    margin: 0 0 41px -20px;
}
.img-list__born-for{
   margin:0  0 0 -130px;
}
.img-list__born-for:hover{
   box-shadow:0 3px 0 #6ea147;
}
.img-list__arrow-right{
    float:right;
    top:206px;
    right:7px;
}

.container-section-main__squares{
    width:85px;
    margin:0 auto 0;
    position:relative:
}
.squares_squares-item{
    width:21px;
    height:17px;
    border-radius:5px 5px 0 0;
    float:left;
    margin-right:6px;
    background:#709b1d;
}

.container-section-main__adventages{
    height:95px;
    background:#709b1d;
}
.section-main__adventages-list{
     height:95px;
    width:970px;
    margin:0 auto;
 }
.adventages-list__adventages-item{
    height:72px;
    background:#83b228;
    border-radius:10px;
    float:left;
    margin-right:22px;
    width:220px;
    margin-top:12px;
}
.adventages-list__adventages-item:hover{
    box-shadow:0 3px 0 #658c19;
}
.adventages-list__adventages-item_cart{
    margin-right:0;
}
.adventages-list__adventages-item_img{

}
.adventage-icon{
    font-size:40px;
    color:#fff;
}
.fa-lock{
    font-size:45px;
    display:inline-block;
}
.adventages-item__element{
    float:left;
    font-size:12px;
    display:block;
}
.adventages-text__top{
    display:block;
    font-size:18px;
    margin-top:10px;
}
.adventages-text__down{
    display:block;
    font-size:12px;
}
.adventages-item__img{
    margin:13px 15px 0 18px;
}
.adventage-icon{
    font-size:37px;
    color:#fff;
    margin:15px 15px 0 18px;
}
.fa-lock{
    font-size:45px;
    display:inline-block;
    margin:8px 15px 0 18px;
}
.adventages-item__adventages-text{
    margin-top:0;
    color:#fff;
    height:72px;
    width:147px;
}
.adventages-item__link{
    display:block;
    color:#fff;
    height:72px;
}
.adventages-item__adventages-text_secure-store{
    width:154px;
}
.container__middle-section{
    width:940px;
    margin:87px auto 0;
}
.primo__primo-list-top{
    background:#709b1d;
}
.list-top__item{
    float:left;
}
.primo-list-top__primo-menu{
    margin:0 0 0 180px;
    font-size:18px;
}
.primo-menu__primo-menu-item{
    float:left;
    height:37px;
    border-radius:5px 5px 0 0;
    line-height:37px;
    margin:5px 3px 0;
}
.primo-menu__primo-menu-item_fetured{
    width:100px;
}
.primo-menu__primo-menu-item_new-ltme{
    width:115px;
}
.primo-menu__primo-menu-item_top-seller{
    width:118px;
}
.primo-menu__primo-menu-item_top-ratting{
    width:130px;
}
.primo-menu-item__link{
    height:37px;
    display:block;
    text-align:center;
    color:#fff;
}
.primo-menu__primo-menu-item:hover{
    background:#fff;
}
.primo-menu__primo-menu-item:hover .primo-menu-item__link{
    color:#709b1d;
}
.primo-list-top__arrow{
    font-size:20px;
    margin:7px 4px;
    line-height:27px;
    width:22px;
    height:27px;
    border-radius:5px;
    text-align:center;
    color:#709b1d;
    background:#fff;
    padding-right:5px;
}
.primo-list-top__arrow:hover{
    color:#83b228;
}
.fa-chevron-right{
    float:right;
    padding:0 0 0 5px;
}
.phone-list-item__phone-reservation{
    background:#709b1d;
}

.phone-list__phone-list-item{
    margin:0 20px 0 0;
    float:left;
}
.phone-list__phone-list-item:hover .phone-list-item__phone-img{
    border:4px solid #709b1d;
}
.phone-list__phone-list-item_last{
    margin:0;
}
.phone-list-item__phone-img{
    background-repeat:no-repeat;
    background-size:cover;
    height:313px;
    border:4px solid #efefef;
}

.phone-list-item__phone-img_first{
    background-image:url(../img/handy1.png);
}
.phone-list-item__phone-img_second{
    background-image:url(../img/handy2.png);
}
.phone-list-item__phone-img_third{
    background-image:url(../img/handy3.png);
}
.phone-list-item__phone-reservation{
    border:1px solid #709b1d;
}
.phone-reservation__phone-title{
    width:268px;
    margin:-19px auto 0;
    border:1px solid #c5c5c5;
    display:block;
    text-align:center;
    height:32px;
    line-height:32px;
    color:#709b1d;
    background:#fff;
    border-radius:2px;
}
.phone-list-item__phone-reservation{
    height:81px;
    width:298px;
}
.phone-reservation__reservation-options{
    width:270px;
    margin:13px auto;
}
.reservation-options__reservation-link{
    display:block;
    height:39px;
    background:#fff;
    float:left;
    margin-right:11px;
    color:#b9b9b9;
    border-radius:2px;
}
.reservation-options__exchange{
    margin:0;
}
.reservation-options__icon{
    font-size:24px;
    line-height:39px;
    padding:0 8px;
}
.reservation-link__pencil{
    padding:0 7px 0 8px;

}
.reservation-options__shop-cart{
    margin:0 13px 0 14px;
    padding:0;
}
.reservation-options__add-to-cart{
    margin:9px 13px 0 0;
}
.reservation-link-cart__item{
    display:block;
    float:left;
}
.reservation-options__reservation-link_cart{
    width:168px;
    color:#709b1d;
}